.container nav {
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  color: olivedrab;
}
nav button {
  width: 50px;
}
